{{ define "content" }}
<style>
    .table-custom {
        border: 2px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0.95;
        border-right: 0;
    }
    
    .table-custom th, .table-custom td {
        border: 2px solid #ddd;
        padding: 12px;
        text-align: left;
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .table-custom th {
        background-color: rgba(90, 90, 90, 0.9);
        font-weight: bold;
    }
    
    .table-custom tbody tr:hover {
        background-color: rgba(235, 235, 235, 0.9);
    }
    .table-custom th, .table-custom td {
        border: none;
    }
</style>    
<div class="container-fluid content-area">
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 style="color: gray;">Account Setting</h2>
            <div style="display: flex;justify-content: space-between; align-items: center;">
                <button class="btn btn-sm btn-success ml-0 mt-2 mb-2" data-toggle="modal" data-target="#addUserModal"><i class="fas fa-plus"></i></button>
                <form class="mt-2 mb-2" id="searchForm" method="POST" action="/user/search" style="width: 50%;">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control search-input" placeholder="Search.." value="{{ .search }}">
                    </div>
                </form>
            </div>
                <table class="table table-striped mt-0 table-custom" style="border-collapse: collapse;">
                    <thead style="position: sticky;">
                        <tr style="top: 160px; color: #fff;text-align: left;">
                            <th>Username</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .users }}
                        <tr id="contactRow_{{ .ID }}" style="text-align: left;">
                            <td>{{ .Username }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#resetPasswordModal" data-id="{{ .ID }}" data-username="{{ .Username }}"><i class="fas fa-key"></i></button>
                                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteUserModal" data-id="{{ .ID }}" data-username="{{ .Username }}"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ if .message }}
                    <div class="alert alert-warning text-center">{{ .message }}</div>
                {{ end }}
                <div class="d-flex justify-content-end align-items-center mt-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!-- Previous Button -->
                            {{ if gt .currentPage 1 }}
                            <li class="page-item">
                                <a class="page-link" href="/auth/user?page={{ sub .currentPage 1 }}&search={{ .search }}">Previous</a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            {{ end }}

                            <!-- Next Button -->
                            {{ if lt .currentPage .totalPages }}
                            <li class="page-item">
                                <a class="page-link" href="/auth/user?page={{ add .currentPage 1 }}&search={{ .search }}">Next</a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                            {{ end }}
                        </ul>
                    </nav>
                </div> 
        </div>
    </div>
</div>
{{ end }}
