{{ define "content" }}
<div class="container-fluid content-area">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="header-01 d-flex justify-content-between align-items-center mb-0 mt-7">
                <h4 class="badge bg-black text-white mt-5 ml-3">Escalation Procedure</h4>
                <form class="form-inline mt-4 mr-3" id="searchForm" method="POST" action="/escal/search" style="padding-top: 10px;">
                    <div class="input-group">
                        <input style="width: 300px;" type="text" name="search" class="form-control search-input" placeholder="Search.." value="{{ .search }}">
                    </div>
                </form>
            </div>
                <table class="table table-striped mt-12 tb-custome" style="border-collapse: collapse;">
                    <thead style="position: sticky;">
                        <tr style="top: 160px; color: #fff;">
                            <th style="width: 30%;">Name</th>
                            <th style="width: 20%; text-align: center;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .escalations }}
                        <tr id="contactRow_{{ .ID }}">
                            <td style="max-width: 200px; word-wrap: break-word; white-space: normal;">{{ .Title }}</td>
                            <td style="text-align: left;">
                                <button class="btn btn-sm text-white btn-custome" onclick="showPDF('{{ .PDFPath }}')">
                                    View
                                </button>                                
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ if .message }}
                    <div class="alert alert-warning text-center">{{ .message }}</div>
                {{ end }}

                <div class="d-flex justify-content-between align-items-center mt-3">
                    <div>
                        {{ if gt .totalEntries 0 }}
                            <p>Showing {{ .startIndex }} to {{ .endIndex }} of {{ .totalEntries }} entries</p>
                        {{ else }}
                            <p>No entries found</p>
                        {{ end }}
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {{ if gt .currentPage 1 }}
                            <li class="page-item">
                                <a class="page-link" href="/escalation-procedure?page={{ sub .currentPage 1 }}&search={{ .search }}">Previous</a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            {{ end }}
                            {{ if lt .currentPage .totalPages }}
                            <li class="page-item">
                                <a class="page-link" href="/escalation-procedure?page={{ add .currentPage 1 }}&search={{ .search }}">Next</a>
                            </li>
                            {{ else }}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                            {{ end }}
                        </ul>
                    </nav>
                </div>
        </div>
    </div>
</div>
{{ end }}
